{%extends 'base.html'%}
{%block main%}
{%load static%}
{%include 'messages.html'%}
        <div class="breadcumb-wrapper" data-bg-src="static/assets/img/bg/breadcumb-bg.jpg">
                <div class="container">
                        <div class="breadcumb-content">
                                <h1 class="breadcumb-title">Contact Us</h1>
                                <ul class="breadcumb-menu">
                                        <li><a href="/">Home</a></li>
                                        <li>Contact Us</li>
                                </ul>
                        </div>
                </div>
        </div>
        <div class="space">
                <div class="container">
                        <div class="row gy-4">
                                <div class="col-xl-4 col-md-6">
                                        <div class="location-card">
                                                <h3 class="box-title">Central Branch</h3>
                                                <p class="footer-info"><i class="far fa-location-dot"></i> Kalasagar Complex, Prahladnagar, Ahmedabad</p>
                                                <p class="footer-info"><i class="far fa-envelope"></i> <a
                                                                href="mailto:info@contacthp.com"
                                                                class="info-box_link">info@contacthp.com</a></p>
                                                <p class="footer-info"><i class="far fa-phone"></i> <a
                                                                href="tel:+17145375160" class="info-box_link">+91 84567 34764</a></p>
                                        </div>
                                        <div class="contact-feature">
                                                <div class="box-icon"><i class="far fa-clock"></i></div>
                                                <div class="media-body">
                                                        <h3 class="box-title">Opening Hours</h3>
                                                        <p class="box-text">Mon to sat: 8:00am - 9:00pm</p>
                                                        <p class="box-schedule">Sunday - Closed</p>
                                                </div>
                                        </div>
                                </div>

                        </div>
                </div>
        </div>
        
        <div class="">
                <div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14689.445284920062!2d72.49911578092123!3d23.0105019674313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e9ad9da91785f%3A0x293927860b753ab8!2sPrahlad%20Nagar%2C%20Ahmedabad%2C%20Gujarat%20380015!5e0!3m2!1sen!2sin!4v1733570235361!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
    {%endblock%}